* {
    box-sizing: border-box;
    margin: 0;
    margin: 0;
}

body {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER / NAVE BARE STYLE START */

header {
    padding: 20px 35px;
    background-color: #2e1603;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: grey;
    /* background-color: lightblue; */
    padding: 5px 10px 5px 40px;
    position: relative;
    right: 35px;

    /* TEXT SHADOWS MAYBE */
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    /* TEXT SHADOWS MAYBE */
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

header nav ul li a:hover {
    background-color: black;
    color: grey;
    border-radius: 15px;
    text-shadow: none;
}

section {
    padding: 60px;
    background-color: #80471c;

}

footer {
    background-color: #2e1603;
    padding: 40px 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}

footer h2 {
    font-size: 30px;
}

footer div {
    line-height: 1.5;

}

footer a {
    color: white;
}

/* HEADER / NAV BAR STYLES END */

/* HERO STYLE STARTS */

/* UNDER HEADER */
.hero {
    /* add pic */
    /* background-image: url(); */
    /* background-size: cover; */
    /* background-position: center; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: 80%;
    background-color: #371d10;
    position: relative;
}

/* SUBTILE */
.hero-cta {
    color: wheat;
    font-size: 20px;
}

.hero-cta h2 {
    font-size: 20px;
    background-color: green;
    margin: 10px 10px;
    position: absolute;
    bottom: 5px;
    right: 5%;
    padding: 5px;
}


/* CSS FOR ABOUT ME SECTION */

.intro {
    background-color: #80471c;
}

.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: white;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    /* width----- sets width of the container  that holds the title "About Me" */
    width: 50%;
    border-color: white;
    padding: 10px 0;
}

.intro p {
    line-height: 1.7;
    color: black;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.flex-row {
    display: flex;

    background-color: #481f01;
}

.flex-row- {
    display: flex;
    background-color: #eed9c4;
}


/* CSS FOR WORK SECTION */


/* main container of the work section */
.works {
    /* background-color: burlywood; */
    display: flex;
}


/* for the name of what work it is */
.work-name {
    color: black;
    background-color: aquamarine;
}


.work-container-one {
    background-color: #eed9c4;
    display: flex;
    justify-content: center;
    position: relative;
    /*  pushes content to fill the bottom etc.*/
    /* align-items: flex-end; start,center */
    /* flex-direction: column;--makes it a colum */
}


/* # WORK CONTAINER 2 # */

.work-container-two {
    background-color: #eed9c4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    position: relative;
}

.work-container-three {
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    position: relative;
}


/* WORK BOX 1 */
/* .work-one {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
    width: 50%;
} */

/* # */

/* style for the work box*/
.work {
    justify-content: center;
    padding: 20px;
    /* justify-content: center; */

}



.work:hover .image {
    opacity: 0.3;
}

.work:hover .middle {
    opacity: 1;
}

/* # */

/*  WORK BOX 2 */
.work-two {
    /* background-color: blueviolet; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding: 20px;
    width: 50%;
}

/* # */

/*  WORK BOX 3 */

/* # */

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/* IMAGE BOX */
.image {
    max-width: 500px;
    display: block;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;


}

.text {
    background-color: #5e2c04;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}