* {
    box-sizing: border-box;
    margin: 0;
    margin: 0;
}

body {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER / NAVE BARE STYLE START */

header {
    padding: 20px 35px;
    background-color: navy;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: grey;
    background-color: lightblue;
    padding: 5px 10px 5px 40px;
    position: relative;
    right: 35px;

    /* TEXT SHADOWS MAYBE */
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

header a {
    text-decoration: none;
    color: gray;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    /* TEXT SHADOWS MAYBE */
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

header nav ul li a:hover {
    background-color: black;
    color: grey;
    border-radius: 15px;
    text-shadow: none;
}

section {
    padding: 60px;
    background-color: gray;

}

/* HEADER / NAV BAR STYLES END */

/* HERO STYLE STARTS */

/* UNDER HEADER */
.hero {
    /* add pic */
    /* background-image: url(); */
    /* background-size: cover; */
    /* background-position: center; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: 80%;
    background-color: black;
    position: relative;
}

/* SUBTILE */
.hero-cta {
    color: wheat;
    font-size: 20px;
}

.hero-cta h2 {
    font-size: 20px;
    background-color: green;
    margin: 10px 10px;
    position: absolute;
    bottom: 5px;
    right: 5%;
    padding: 5px;
}


/* CSS FOR ABOUT ME SECTION */

.intro {
    background-color: blanchedalmond;
}

.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: black;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    /* width----- sets width of the container  that holds the title "About Me" */
    width: 50%;
    border-color: black;
}

.intro p {
    line-height: 1.7;
    color: black;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

.flex-row {
    display: flex;
}


/* CSS FOR WORK SECTION */


/* main container of the work section */
.works {
    background-color: burlywood;
    display: flex;
}

/* style for the work box*/
.work {}


/* for the name of what work it is */
.work-name {
    color: black;
    background-color: aquamarine;
}

.work-container-one {
    display: flex;
    background-color: yellowgreen;
    justify-content: center;
    /*  pushes content to fill the bottom etc.*/
    /* align-items: flex-end; start,center */
    /* flex-direction: column;--makes it a colum */
}

.work-container-two {
    display: flex;
    background-color: cadetblue;
    justify-content: center;
    justify-content: space-around;
}

/* WORK CONTAINER 1 */
.work-one {
    background-color: black;
}

/*  WORK CONTAINER 2 */
.work-two {
    background-color: blueviolet;
}

/*  WORK CONTAINER 3 */
.work-three {
    background-color: brown;
}


/* IMAGE CONTAINER */
.image {
    /* display: flex; */
    max-width: 500px;
}